@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap") layer(base);
@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@layer base {
  html,
  body,
  #root {
    min-height: 100%;
  }

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: theme(colors.gray.200);
  }

  body {
    font-family: "Outfit", sans-serif;
    @apply relative bg-gray-50 font-normal;
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}
